/* style.css */

.canvas-area {
	position: absolute;
	top: 20px;
	left: 20px;
}

#top-snake {
	position: absolute;
	top: 0px;
	left: 0px;
	background: black;
	border: solid white 2px;
}

#front-snake {
	position: absolute;
	top: 300px;
	left: 0px;
	background: black;
	border: solid white 2px;
}

#side-snake {
	position: absolute;
	top: 300px;
	left: 300px;
	background: black;
	border: solid white 2px;
}


